.about {
  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0 25px;
  }

  img {
    max-width: 300px;
    margin-bottom: var(--layout-01);
  }

  &__header {
    margin: 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    padding: var(--spacing-06) 0;

    @media only screen and (max-width: 1040px) {
      max-width: 800px;
      flex-direction: column;
    }
  }

  &__description {
    font-family: "IBM Plex Sans", sans-serif;
    max-width: 600px;

    @media only screen and (max-width: 1040px) {
      max-width: 100%;
      flex-direction: column;
    }
  }

  &__skills-container {
    padding-top: var(--spacing-06);
    padding-left: 2rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media only screen and (max-width: 1040px) {
      padding-left: 0;
    }
  }

  &__skills {
    font-family: "IBM Plex Sans", sans-serif;
  }

  &__skills-title {
    margin-bottom: 8px;
  }

  &__skills-list {
    list-style: none;
    margin: 0;

    li {
      margin: 1px 0;
    }
  }
}
