@import "./index.scss";

.articles {
  max-width: 100%;
  padding: var(--layout-02) 0;

  &__header {
    order: 1;
    font-size: var(--font-xl);
    margin-bottom: var(--spacing-04);
  }

  &__container {
    display: grid;
    align-items: stretch;
    margin-left: -0.7rem;
    margin-right: -0.7rem;
  }

  &__article {
    padding: var(--spacing-04);
    transition: all 100ms ease-in-out;

    &:hover {
      background-color: #f2f4f8;
    }

    @media screen and (min-width: 850px) {
    }
  }

  &__article-link {
    text-decoration: none;

    @media screen and (min-width: 620px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__date {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--font-xxs);
    font-weight: 400;
    color: #121619;
    white-space: nowrap;
  }

  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--font-sm);
    font-weight: 600;
    color: $black-primary;
  }

  &__tags {
    height: 100%;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--font-xxs);
    text-decoration: none;
    color: $black-primary;
    font-weight: 400;
  }

  &__tag {
    background: rgb(208, 226, 255);
    color: rgb(0, 45, 156);
    padding: 5px 10px;
    margin-left: 10px;
  }
}
