@import "./index.scss";

.header {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--layout-02) 0;
  max-width: 100%;

  &__title-name {
    font-weight: 700;
    font-size: var(--font-sm);
    text-transform: lowercase;

    a {
      text-decoration: none;
      color: var(--midnight);
    }

    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  &__title-emoji {
    position: relative;
    top: 2px;
    font-size: 1.3rem;
  }

  &__navigation {
    display: flex;
    max-width: 300px;
    justify-content: space-between;
    text-transform: lowercase;

    a {
      text-decoration: none;
      border-bottom: 1px solid var(--white);
      transition: border-color 100ms ease-in-out;

      &:hover {
        border-bottom-color: var(--midnight);
      }
    }
  }

  &__navigation-item {
    font-size: var(--font-xs);
    font-weight: 400;
    margin-left: var(--spacing-06);
    text-decoration: none;
    color: var(--midnight);
  }
}

.introduction {
  font-family: "IBM Plex Sans", sans-serif;
  padding: var(--layout-02) 0;

  &__title {
    font-size: var(--font-xxxl);
    margin: var(--spacing-06) 0;
  }

  &__description {
    font-size: var(--font-sm);
    max-width: 700px;
    margin: 0;
  }

  span {
    display: block;
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: baseline;
    margin: var(--spacing-06) 0;

    svg {
      width: 1rem;
      fill: var(--white);
    }

    .button {
      margin-right: var(--spacing-05);

      span {
        display: flex;
        align-items: center;
      }

      span span {
        margin-right: var(--spacing-06);
      }
    }
  }

  @media screen and (max-width: 450px) {
    &__title {
      font-size: 50px;
    }

    span {
      display: inline;
    }
  }
}

.footer {
  font-family: "IBM Plex Sans", sans-serif;
  margin: var(--layout-02) 0;

  &__social-media-title {
    font-size: var(--font-sm);
    margin-bottom: var(--spacing-05);
    text-transform: lowercase;
  }

  &__social-media-links {
    display: flex;
    max-width: 300px;
    list-style: none;
    margin: 0;
    text-transform: lowercase;
  }

  &__social-media-link {
    font-size: var(--font-xs);
    font-weight: 400;
    margin-right: var(--spacing-06);
    text-decoration: none;

    a {
      text-decoration: none;
      border-bottom: 1px solid var(--white);
      transition: border-color 100ms ease-in-out;
      color: var(--midnight);

      &:hover {
        border-bottom-color: var(--midnight);
      }
    }
  }
}
