@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600,600i,700|IBM+Plex+Sans:400,500,600,700&display=swap");

$purple-primary: #8075ff;
$grey-primary: #a8abb4;
$black-primary: #211a1d;

$hover-background: rgba(128, 117, 255, 0.1);
$link-background: rgba(128, 117, 255, 0.3);
$link-background-hovered: rgba(128, 117, 255, 0.5);
