.videos {
  &--homepage {
    padding: var(--layout-02) 0;
  }

  &__header {
    font-size: var(--font-xl);
    margin-bottom: var(--spacing-06);
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: var(--spacing-06) var(--spacing-06);
  }

  &__thumbnail {
    position: relative;
    width: 100%;
    margin-bottom: var(--spacing-02);
    transition: all 100ms;

    a {
      display: inline-block;
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
    }

    span::after {
      content: "";
      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid white;
      transform: rotate(45deg);
      opacity: 0;
    }

    svg {
      opacity: 0;
      fill: white;
    }

    img {
      margin: 0;
      transition: all 100ms;
      box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.1),
        0px 3px 20px rgba(0, 0, 0, 0.1);
    }

    &:hover {
      svg {
        opacity: 1;
      }

      img {
        filter: brightness(20%);
      }

      span::after {
        opacity: 1;
      }
    }
  }

  &__title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--font-sm);
    font-weight: 600;
    color: #211a1d;
  }

  &__date {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: var(--font-xxs);
    font-weight: 400;
    color: #211a1d;
  }

  &__video {
    max-width: 370px;
  }

  #ytplayer {
    margin-bottom: 5px;
  }
}
